.banner {
    background-image: url("../../assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top left;
    height: 41.667vw;
    position: relative;

    &-title {
        color: var(--1, #fff);
        font-size: 3.75vw;
        font-style: normal;
        font-weight: 400;
        line-height: 110%; /* 59.4px */
        letter-spacing: -1.08px;
        padding: 14.931vw 0 0 4.861vw;
    }

    &-request {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 28.125vw;
        height: 14.444vw;
        background-color: #7b914e;
        border-radius: 1.042vw;
        padding: 2.083vw;

        h3 {
            color: var(--1, #fff);
            font-size: 1.667vw;
            font-style: normal;
            font-weight: 300;
            line-height: 110%; /* 26.4px */
        }

        &-btns {
            position: absolute;
            display: flex;
            left: 0;
            top: 8.125vw;

            .btn-arrow {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    background-image: url("../../assets/icons/border-top.svg");
                    background-position: top;
                    display: block;
                    width: 1.042vw;
                    height: 1.042vw;
                    top: -1.041vw;
                    left: 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &:before {
                    content: "";
                    position: absolute;
                    background-image: url("../../assets/icons/border-top.svg");
                    background-position: top;
                    display: block;
                    width: 1.042vw;
                    height: 1.042vw;
                    bottom: -1.041vw;
                    left: 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                    transform: rotate(90deg);
                }
            }
        }
    }

    &-logo {
        position: absolute;
        width: 9.028vw;
        height: 9.028vw;
        left: 6.25vw;
        top: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-nav {
        display: flex;
        align-items: center;
        color: var(--1, #fff);
        justify-content: space-between;
        border-radius: 0.694vw;
        background: rgba(255, 255, 255, 0.07);
        backdrop-filter: blur(0.417vw);
        padding: 0.833vw 1.042vw;
        width: 76.736vw;
        position: absolute;
        top: 1.389vw;
        right: 1.389vw;
        transition: all 0.5s ease-in-out;

        &.active {
            position: fixed;
            top: 0.389vw;
            right: 2.083vw;
            left: 2.083vw;
            margin: 0 auto;
            z-index: 99;
            width: unset;
            background-color: var(--2, #7b914e);
        }

        &-list {
            display: flex;
            gap: 2.083vw;

            li {
                padding: 0.347vw 0.694vw;
                cursor: pointer;
                font-size: 1.111vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.667vw; /* 150% */
            }
        }

        &-phone {
            display: flex;
            gap: 1.111vw;
            align-items: center;
            font-size: 1.25vw;

            button {
                width: 2.222vw;
                height: 2.222vw;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border-radius: 0.556vw;

                svg {
                    width: 0.833vw;
                    height: 0.833vw;
                }
            }
        }
    }
}
